:root {
  font-size: 16px;
}

.background {
  background-image: url('./img/FoL.webp'); 
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}


.pentagon-container {
  text-align: center;
  margin-top: 1.25rem;
}

.pentagon-cards {
  position: relative;
  width: 50rem;
  height: 50rem;
  margin: 0 auto;
}

.card {
  width: 12.5rem;
  height: 18.75rem;
  position: absolute;
}

.card-content img {
  width: 100%;
  height: auto;
}

.card1 {
  top: 0;
  left: 18.75rem;
}

.card2 {
  top: 12.5rem;
  left: 3.125rem;
}

.card3 {
  top: 12.5rem;
  left: 34.375rem;
}

.card4 {
  top: 31.25rem;
  left: 9.375rem;
}

.card5 {
  top: 31.25rem;
  left: 28.125rem;
}

