.App {
  text-align: center;
}

.container {
  display: flex;
  align-items: stretch;
  gap: 10px;
  gap: 10px 20px; /* row-gap column gap */
  row-gap: 10px;
  column-gap: 20px;

}





.small-image {
  width: 200px; /* Adjust width as needed */
  height: auto; /* Maintains aspect ratio */
}

button {
  margin-bottom: 1rem;
}

